body,
html {
    font-family: 'Exo 2', sans-serif !important;
    height: 100%;
    background-image: url("../images/bkgrnd.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100%;
    color: #1565c0;
    overflow: auto;
}

nav {
    height: 130px;
}

.search-bar {
    height: 65px;
    margin-top: 25px;
}

.brand-logo {
    height: 130px;
}

.logo {
    margin: 10px 0px 0px 50px;
}

.links {
    margin: 30px;
    font-size: 30px;
    color: #1565c0;
}

.container {
    height: calc(100% - 130px);
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.welcome {
    font-size: 30px;
}

section {
    margin: 25px 15px 0px 15px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.card-action {
    margin: 10px;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:before,
[type="radio"].with-gap:checked+label:after {
    border: 2px solid #00e676;
}

.style,
.active {
    color: #00e676 !important;
    font-size: 20px !important;
}

.middle {
    text-align: center !important;
    font-size: 25px !important;
}

input[type=text]:focus:not([readonly]) {
    border-bottom: 1 px solid #00e676;
    box-shadow: 0 1px 0 0 #00e676;
}

.btn,
.btn-large,
.hoverable,
.btn:hover {
    background-color: #00e676;
    color: #1565c0;
}

.dropdown-content li>a,
.dropdown-content li>span {
    font-size: 16px;
    color: #00e676;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #00e676;
    border-bottom: 2px solid #00e676;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.page-footer {
    padding: 0px;
    position: sticky;
    height: 74px;
}

.footer-copyright {
    background-color: #00e676 !important;
}

.left {
    margin: 20px 0px 0px 50px;
    font-size: 30px;
    color: #1565c0;
}

#links {
    margin: 10px 15px 0px 0px;
}